body {
  background:url(../img/fondo.jpg);
  background-size: cover;
}
#general {
  margin: auto;
  width: 90%;
  max-width: 1200px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.5);
  border-style: solid;
  border-width: 5px;
  border-color: black;
  padding: 20px;
  box-sizing: border-box;
}
h1{
  font-style: italic;
    color: white;
}
footer{
  margin-top: 10px;
}
#in, #con, #car, #da{
  color: aliceblue;
}
.navbar-toggler{
  background-color: #000;
}

.nav-link.active {
  color: #000;
  background-color: black;
}

.body .navbar{
  background-color: transparent !important;
}
@media (max-width: 768px) {

  #general {
      padding: 10px;
      width: 100%;
  }

  h1{
      font-size: 1.2em;
  }
}
