#logo{
  float: left;
  width: 50%;
  max-width: 180px;
  height: auto;
  margin-top: 10px;
  margin-right: 10px;
}
body {
  background:url(../img/fondo.jpg);
  background-size: cover;
}

#logo_foto {
  margin-top: 20px;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 50%;
  max-width: 368px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

#foto {
  width: 50%;
  max-width: 180px;
  height: auto;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

#general {
  margin: auto;
  width: 90%;
  max-width: 1200px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.5);
  border-style: solid;
  border-width: 5px;
  border-color: black;
  padding: 20px;
  box-sizing: border-box;
}

h1, h2 {
  font-style: italic;
  color: white;
  text-align: center;
}

footer {
  margin-top: 10px;
  text-align: center;
}

#in, #da, #car, #con {
  color: aliceblue;
}

.navbar-toggler {
  background-color: #000;
}

.nav-link.active {
  color: #000;
  background-color: black;
}

.body .navbar {
  background-color: transparent !important;
}

#enviar {
  background-color: black;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  margin-top: 10px;
  width: 50%;
  max-width: 200px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#color {
  color: aliceblue;
}

#form {
  margin-top: 20px;
}

@media (max-width: 768px) {
  #logo_foto {
      width: 80%;
      max-width: 300px;
  }

  #logo {
      width: 40%;
      max-width: 150px;
      margin-top: 10px;
  }

  #general {
      padding: 10px;
      width: 100%;
  }

  h1, h2 {
      font-size: 1.2em;
  }

  #enviar {
      width: 80%;
      max-width: 150px;
  }
}
