body{
  background:url(../img/fondo.jpg);
  background-size: 100%;
}
#logo_foto{
  margin-top: 20px;
  margin-left: 182px;
  width: 368px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.3);
}
#logo{
  width: 200px;
  height: 200px;
  float: left;
}
#logo2{
  width: 200px;
  height: 200px;
  float: right;
}
#general{
  margin: auto;
  width: 900px;
  height: 535px;
  background-color: rgba(0, 0, 0, 0.5);
  border-style: solid;
  border-width: 5px;
  border-color: black;
  margin-top: 10px;
}
h1{
  font-style: italic;
    color: white;
}
.progress{
  margin-top: 0px;
}
footer{
  margin-top: 10px;
}
#in{
  color: aliceblue;
}
#da{
  color: aliceblue;
}
#car{
  color: aliceblue;
}
#con{
  color: aliceblue;
}
.navbar-toggler{
  background-color: #000;
}

.nav-link.active {
  color: #000;
  background-color: black;
}

.body .navbar{
  background-color: transparent !important;
}

